@use "./styles/fonts";
@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	margin: 0;
	background-color: #f3f3f3;
	height: 100%;
	font-family: "Lato", monospace;
}

.mobile {
	width: 375px;
	background: linear-gradient(
			#000,
			#0d0f15,
			$dark-black,
			$neutral-blue,
			$dark-black,
			$dark-black,
			#000
		)
		no-repeat;
	margin: auto;
}
