@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables';

.card {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem;
    border-radius: 5px;
    background-color: rgb(35, 35, 63);
    margin: 1rem;

    &-header {
        width: 100%;
        display: flex;
        margin-bottom: 1rem;
        &__icon {
            filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(345deg)
                brightness(200%) contrast(101%);
            vertical-align: middle;
        }
        &__text {
            color: white;
            margin-left: 1rem;
        }
    }
    &-content {
        color: white;
        font-size: 0.8rem;
    }
}