@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.doughnut {
	width: 300px;
	margin: 0 auto;

	&__container {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 1rem;
		color: white;
		text-align: center;
	}

	&__info-container {
		position: absolute;
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	&__info-title {
		margin: 0;
		font-size: 20px;
		line-height: 20px;
	}

	&__info-metric {
		margin: 0;
		font-size: 91px;
		line-height: 20px;
	}
	&__icon-container {
		width: 0.3rem;
	}
	&__icon {
		position: absolute;
		right: -0.5rem;
		top: 0;
		width: 0.5rem;
		height: 0.5rem;
		border-radius: 50%;
		padding: 0.25rem;
		font-size: 0.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid;
		color: grey;
	}
}
