@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
	padding: 1rem;
	width: 100%;
	height: 112px;
	max-height: 7rem;
	display: flex;
	flex-direction: column;
	position: fixed;
	background-color: #000;
	z-index: 1;

	&__phone-icons {
		margin-left: -1rem;
		margin-top: -2rem;
		padding: 0.3rem 1rem;
		width: 100vw;
		display: flex;
		color: white;
		justify-content: space-between;
		align-items: center;
		background: transparent;
	}

	&__phone-svgs {
		display: flex;
		width: 4rem;
		justify-content: space-between;
		img {
			width: 1rem;
		}
	}

	&-buttons {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&__icon {
			filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(345deg)
				brightness(200%) contrast(101%);
			vertical-align: middle;

			&-long {
				width: 50%;
				position: absolute;
				background-color: #484a4e;
				border-radius: 20px;
				left: 50%;
				transform: translateX(-50%);
				display: flex;
				justify-content: space-between;
			}

			&--center {
				margin-bottom: 0.2rem;
			}
		}

		&__icons {
			padding: 0.3rem;
			filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(345deg)
				brightness(200%) contrast(101%);
		}

		&__dates {
			color: white;
			background-color: #484a4e;
			border: 2px solid $dark-black;
			border-radius: 20px;
			padding: 0.3rem;
			width: 130px;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 0.75rem;
			z-index: 1;
		}
	}

	&-nav {
		width: 100%;
		margin: 0;

		&__menu {
			list-style: none;
			display: flex;
			padding: 0;
			justify-content: space-between;
		}

		&__item {
			color: $light-grey;
			font-size: 0.75rem;
			padding-bottom: 0.3rem;
			text-decoration: none;

			&.active {
				color: $white;
				border-bottom: 2px solid white;
			}
		}
	}
}

.profile-image {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	overflow: hidden;
	background: URL(../../assets/images/profile.jpeg) no-repeat center/cover;
}

.profile-image2 {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	overflow: hidden;
	background: grey;
}
