@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables';

.nav-bar-bottom {
    position: absolute;
    bottom: 0;
    padding: 1rem;
    width: 100%;
    height: 9%;
    background-color: variables.$color-secondary-1;
    display: flex;
    justify-content: space-between;
    
    &__item {
        filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(345deg)
                brightness(200%) contrast(101%);
    }
}