@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.panel {
	width: 90%;
	margin: 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom: 6rem;
	&-card {
		width: 33%;
		margin: 0;
		padding: 1rem;
		display: flex;
		flex-direction: column;
		color: white;
		align-items: center;
		justify-content: center;
		background-color: #1d1f24;
		border-top: 3px solid #1d1f24;

		&--selected {
			background-color: #393b40;
			border-top: 3px solid white;
		}

		&__icon {
			filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2%)
				hue-rotate(345deg) brightness(200%) contrast(101%);
			max-width: 2rem;
			height: auto;
		}

		&__desc {
			text-align: center;
			margin: 0.5rem 0;
		}

		&__metric {
			text-align: center;
		}

		&__subtext {
			font-size: 0.5rem;
		}

		&__bottom-desc {
			padding-top: 0.8rem;
			width: 100%;
			color: white;
			text-align: center;
			background-color: #0d0f15;
		}

		&__bottom-text {
			margin-top: -1rem;
			padding: 0 2rem;
		}
	}
}

.pannel-average {
	display: flex;
	justify-content: center;
	width: 100%;
	color: $light-grey;
	margin-top: 1rem;
}
