@use "../../styles/partials/variables" as *;

.bar-chart {
	margin: 0 2rem 0;
	border-left: solid 2px linear-gradient(to bottom, red 50%, green 50%);
	position: relative;
	// background-image: linear-gradient(to right, red 50%, green 50%);
}
.border {
	height: 10rem;
	padding: 0.5rem 0;
	position: absolute;
}
.border-yellow {
	height: 2.5rem;
	width: 20rem;
	position: absolute;
	border-left: solid 2px $color-barchart-yellow;
	top: 32%;
}
.border-green {
	height: 2.5rem;
	width: 20rem;
	position: absolute;
	border-left: solid 2px $color-barchart-green;
}
.border-red {
	height: 2.5rem;
	width: 20rem;
	position: absolute;
	border-left: solid 2px $color-barchart-red;
	top: 59%;
}
