@use "../../styles/partials/variables" as *;

.bar-chart {
	margin: 0 2rem 0;
	border-left: solid 2px linear-gradient(to bottom, red 50%, green 50%);
	position: relative;
	// background-image: linear-gradient(to right, red 50%, green 50%);
}
.border {
	height: 10rem;
	padding: 0.5rem 0;
	position: absolute;
}
.border-2 {
	height: 2.5rem;
	width: 20rem;
	position: absolute;
	border-left: solid 2px white;
	top: 32%;
}
.border-1 {
	height: 2.5rem;
	width: 20rem;
	position: absolute;
	border-left: solid 2px white;
}
.border-3 {
	height: 2.5rem;
	width: 20rem;
	position: absolute;
	border-left: solid 2px white;
	top: 59%;
}
