@font-face {
	font-family: "Lato";
	src: url(../assets/Fonts/Lato-Regular.ttf) format("truetype"),
		url(../assets/Fonts//Lato-Regular.woff) format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url(../assets/Fonts/Lato-Bold.ttf) format("truetype"),
		url(../assets/Fonts/Lato-Bold.woff) format("woff");
	font-weight: 800;
	font-style: normal;
}
